.btn {
  position: relative;
  background-color: var(--ps-ui-color-text);
  color: #fff;
  border: none;
  border-radius: 5px;
  border: solid 1px transparent;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  z-index: 0;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  line-height: inherit;

  // Para generar el efecto de hover
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  &:hover::before {
    opacity: 0.15;
  }

  &.is-large {
    font-size: var(--ps-text-4); // 1.5rem
  }

  &.is-medium {
    font-size: var(--ps-text-5); // 1.25rem
  }

  &.is-small {
    font-size: var(--ps-text-7); // 0.75rem
  }

  &.is-outlined {
    background-color: transparent;
    border: solid 1px var(--ps-ui-color-text);
  }

  &.is-inverted,
  &.is-outlined {
    background-color: var(--ps-color-white);
    color: var(--ps-ui-color-text);

    &::before {
      background-color: var(--ps-ui-color-text);
    }
  }

  &.is-inverted,
  &.is-outlined,
  &.is-tonal {
    &:hover::before {
      opacity: 0.08;
    }
  }

  &.is-tonal {
    color: var(--ps-ui-color-text);
    background-color: #ddd;

    &::before {
      background-color: #aaa;
    }
  }

  @each $label in $color-labels {
    // Filled
    &.is-#{$label} {
      background-color: var(--ps-color-#{$label});
      color: var(--ps-color-on-#{$label});
    }

    // Outlined, Inverted
    &.is-outlined.is-#{$label},
    &.is-inverted.is-#{$label} {
      background-color: transparent;
      color: var(--ps-color-#{$label});

      &::before {
        background-color: var(--ps-color-#{$label});
      }
    }

    // Outlined
    &.is-outlined.is-#{$label} {
      border-color: var(--ps-color-#{$label});
    }

    &.is-tonal.is-#{$label} {
      background-color: var(--ps-color-#{$label}-container);
      color: var(--ps-color-on-#{$label}-container);
    }
  }

  &.is-rounded {
    border-radius: 99999px;
  }
}
