.btn {
  --ps-btn-height: var(--ps-space-9);
  --ps-btn-px: var(--ps-space-4);
  --ps-btn-py: var(--ps-space-1);
  --ps-btn-bg-color: hsl(var(--ps-color-primary));
  --ps-btn-color: hsl(var(--ps-color-primary-foreground));
  --ps-btn-border-color: transparent;
  --ps-btn-color-alpha-inverted: 0.08;
  --ps-btn-tonal-alpha: 0.3;
  --ps-btn-tonal-alpha-hover: 0.25;
  --ps-btn-icon-size: var(--ps-text-4);

  position: relative;
  background-color: var(--ps-btn-bg-color);
  color: var(--ps-btn-color);
  border: none;
  border-radius: var(--ps-default-radius);
  border: solid 1px var(--ps-btn-border-color);
  cursor: pointer;
  justify-content: center;
  padding-left: var(--ps-btn-px);
  padding-right: var(--ps-btn-px);
  padding-bottom: var(--ps-btn-py);
  padding-top: var(--ps-btn-py);
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 0;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  line-height: inherit;
  min-height: var(--ps-btn-height);

  &:hover {
    --ps-btn-bg-color: var(--ps-color-primary-hover);
  }

  &.is-large {
    font-size: var(--ps-text-4); // 1.5rem
  }

  &.is-medium {
    font-size: var(--ps-text-5); // 1.25rem
  }

  &.is-small {
    font-size: var(--ps-text-7); // 0.75rem
  }

  &.is-outlined {
    --ps-btn-border-color: hsl(var(--ps-color-primary));
  }

  &.is-inverted,
  &.is-outlined {
    --ps-btn-bg-color: transparent;
    --ps-btn-color: hsl(var(--ps-color-primary));

    &:hover {
      --ps-btn-bg-color: hsl(
        var(--ps-color-primary) / var(--ps-btn-color-alpha-inverted)
      );
    }
  }

  &.is-tonal {
    --ps-btn-color: hsl(var(--ps-color-primary));
    --ps-btn-bg-color: hsl(var(--ps-color-primary) / var(--ps-btn-tonal-alpha));

    &:hover {
      --ps-btn-bg-color: hsl(
        var(--ps-color-primary) / var(--ps-btn-tonal-alpha-hover)
      );
    }
  }

  &.is-circle {
    border-radius: 50%;
  }

  &.is-rounded {
    border-radius: 99999px;
  }

  // ICON
  .icon {
    width: var(--ps-btn-icon-size);
    height: var(--ps-btn-icon-size);
    font-size: var(--ps-btn-icon-size);

    --ps-btn-icon-mx: calc(
      (
          var(--ps-btn-px) - (var(--ps-btn-height) - var(--ps-btn-icon-size)) /
            2 + 1px
        ) * -1
    );

    &:first-child:last-child {
      margin-left: var(--ps-btn-icon-mx);
      margin-right: var(--ps-btn-icon-mx);
    }

    &:first-child:not(:last-child) {
      margin-left: -4px;
      margin-right: var(--ps-space-2);
    }

    &:last-child:not(:first-child) {
      margin-right: -4px;
      margin-left: var(--ps-space-2);
    }
  }

  @each $label in $color-labels {
    &.is-#{$label} {
      --ps-btn-bg-color: hsl(var(--ps-color-#{$label}));
      --ps-btn-color: hsl(var(--ps-color-#{$label}-foreground));

      &:hover {
        --ps-btn-bg-color: var(--ps-color-#{$label}-hover);
      }
    }

    &.is-outlined.is-#{$label} {
      --ps-btn-border-color: hsl(var(--ps-color-#{$label}));
    }

    &.is-inverted.is-#{$label},
    &.is-outlined.is-#{$label} {
      --ps-btn-bg-color: transparent;
      --ps-btn-color: hsl(var(--ps-color-#{$label}));

      &:hover {
        --ps-btn-bg-color: hsl(
          var(--ps-color-#{$label}) / var(--ps-btn-color-alpha-inverted)
        );
      }
    }

    &.is-tonal.is-#{$label} {
      --ps-btn-color: hsl(var(--ps-color-#{$label}));
      --ps-btn-bg-color: hsl(
        var(--ps-color-#{$label}) / var(--ps-btn-tonal-alpha)
      );

      &:hover {
        --ps-btn-bg-color: hsl(
          var(--ps-color-#{$label}) / var(--ps-btn-tonal-alpha-hover)
        );
      }
    }
  }
}
