@each $label in $color-labels {
  .is-bg-#{$label} {
    background-color: var(--ps-color-#{$label}) !important;
  }

  .is-text-#{$label} {
    color: var(--ps-color-#{$label}) !important;
  }

  .is-bg-white {
    background-color: var(--ps-color-white);
  }

  .is-text-white {
    color: var(--ps-ui-color-white);
  }
}
