.is-flex {
  display: flex !important;

  &.is-flex-row {
    flex-direction: row !important;
  }

  &.is-flex-column {
    flex-direction: column !important;
  }

  // *****************
  // justify-content
  // *****************
  $justify-content-vars: "flex-start", "flex-end", "center", "space-between",
    "space-around", "space-evenly";

  @each $value in $justify-content-vars {
    &.is-justify-content-#{$value} {
      justify-content: #{$value} !important;
    }
  }

  // *****************
  // align-content
  // *****************
  $align-content-vars: "flex-start", "flex-end", "center", "space-between",
    "space-around", "space-evenly", "stretch";

  @each $value in $align-content-vars {
    &.is-align-content-#{$value} {
      align-content: #{$value} !important;
    }
  }

  // *****************
  // align-items
  // *****************
  $align-items-vars: "stretch", "flex-start", "flex-end", "center", "baseline";

  @each $value in $align-items-vars {
    &.is-align-items-#{$value} {
      align-items: #{$value} !important;
    }
  }

  // *****************
  // wrap
  // *****************
  $flex-wrap: "nowrap", "wrap", "wrap-reverse";

  @each $value in $flex-wrap {
    &.is-flex-wrap-#{$value} {
      flex-wrap: #{$value} !important;
    }
  }
}
