.title {
  font-weight: var(--font-weight-bold);
  font-size: 2rem;
}

.subtitle {
  font-weight: var(--font-weight-normal);
  font-size: 1.25rem;
}

@each $name, $value in $text-size {
  h#{$name},
  .h#{$name} {
    font-size: var(--ps-text-#{$name});
  }

  .title.is-#{$name} {
    font-size: var(--ps-text-#{$name});
  }

  .subtitle.is-#{$name} {
    font-size: var(--ps-text-#{$name});
  }

  .is-size-#{$name} {
    font-size: var(--ps-text-#{$name}) !important;
  }
}

// FONT WEIGHT
$font-weights: "light", "normal", "bold", "black";
@each $weight in $font-weights {
  .font-#{$weight} {
    font-weight: var(--font-weight-#{$weight}) !important;
  }
}

// Text align
$text-aligns: ("center", "left", "right");
@each $align in $text-aligns {
  .text-#{$align} {
    text-align: #{$align} !important;
  }
}
