.field {
  & .label:not(:last-child) {
    font-weight: var(--ps-font-weight-bold);
    margin-bottom: var(--ps-space-1);
  }

  & .help {
    margin-top: var(--ps-space-1);
    color: var(--ps-color-outline);
    font-size: var(--ps-text-7);
  }
}

.field.is-valid {
  .input,
  .textarea,
  .select {
    border-color: var(--ps-color-success);

    &:active:not(:disabled),
    &:focus:not(:disabled) {
      border-color: var(--ps-color-success);
      box-shadow: var(--ps-color-success) 0px 0px 0px 1px inset;
    }
  }

  .help {
    color: var(--ps-color-success);
  }
}

.field.is-invalid {
  .input,
  .textarea,
  .select {
    border-color: var(--ps-color-danger);

    &:active:not(:disabled),
    &:focus:not(:disabled) {
      border-color: var(--ps-color-danger);
      box-shadow: var(--ps-color-danger) 0px 0px 0px 1px inset;
    }
  }

  .help {
    color: var(--ps-color-danger);
  }
}
