.input,
.textarea,
.select {
  display: block;
  width: 100%;
  padding: var(--ps-space-2) var(--ps-space-3);
  appearance: none;
  background-color: var(--ps-ui-color-white);
  background-clip: padding-box;
  border: 1px solid var(--ps-color-outline);
  border-radius: var(--ps-space-1);
  box-shadow: inset 0px 0px var(--ps-color-outline);
  transition: border-color, box-shadow 0.2s ease;
  outline: none;

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    border-color: var(--ps-color-primary);
    box-shadow: var(--ps-color-primary) 0px 0px 0px 1px inset;
  }

  &[disabled],
  fieldset[disabled] {
    background-color: var(--ps-color-neutral-50);
    color: var(--ps-color-neutral-700);
    cursor: not-allowed;

    &::placeholder {
      color: var(--ps-color-neutral-500);
    }
  }
}

.textarea {
  resize: vertical;

  &:not([rows]) {
    min-height: 6rem;
  }
}
